<section class="tech container">
  <h1>Tecnologías</h1>

  <div class="tech__grid">
    <div class="card">
      <img src="../../../assets/images/HTML5 .jpg" alt="HTML" />
    </div>
    <div class="card">
      <img src="../../../assets/images/css.jpg" alt="CSS" />
    </div>
    <div class="card">
      <img src="../../../assets/images/js.png" alt="JS" />
    </div>
    <div class="card">
      <img src="../../../assets/images/ts.png" alt="TS" />
    </div>
    <div class="card">
      <img src="../../../assets/images/sass.jpg" alt="sass" />
    </div>
    <div class="card">
      <img src="../../../assets/images/bootstrap.png" alt="Bootstrap" />
    </div>
    <div class="card ng">
      <img src="../../../assets/images/angular.png" alt="angular" />
    </div>
    <div class="card ng">
      <img src="../../../assets/images/mysql.jpg" alt="MySQL" />
    </div>
    <div class="card nd">
      <img src="../../../assets/images/nodejs_logo.png" alt="Node" />
    </div>
    <div class="card">
      <img src="../../../assets/images/react.png" alt="react" />
    </div>
    <div class="card">
      <img src="../../../assets/images/npm.jpeg" alt="npm" />
    </div>
    <div class="card git">
      <img src="../../../assets/images/git.jpg" alt="git" />
    </div>
  </div>
</section>
