@import "variables";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;

  &__title {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    h1 {
      color: $white;
      font-size: 4rem;

      @include underSize(xs5) {
        font-size: 2.3rem;
      }
    }

    span {
      display: block;
      font-size: 2rem;
      font-family: $subtitle;
      white-space: nowrap;
      border-right: 4px solid;
      width: 18ch;
      color: $textColorSpan;
      animation: typing 2s steps(18), blink 0.5s infinite step-end alternate;
      overflow: hidden;

      @include underSize(xs5) {
        font-size: 1.4rem;
      }
    }
  }

  &__rrss {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    @include underSize(tablet) {
      width: 80%;
    }

    p {
      font-size: 1.5rem;
      color: $textColor;
    }

    .linkedin,
    .github {
      width: 3rem;
      transition: all 0.4s ease;

      @include underSize(tablet) {
        width: 2rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    .special {
      font-weight: bold;
      font-size: 4rem;
      color: $textColorSpan;
    }
  }

  &__icon {
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $textColor;
    font-size: 1.2rem;

    .icon__cv {
      width: 7rem;
      transition: all 0.4s ease;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border: transparent;
  }
}
