@import "variables";

.projects {
  background-color: $colorSecondary;
  border-radius: 10px;
  margin-top: 7rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px black;

  @include underSize(xs) {
    h2 {
      font-size: 1rem;
    }
  }

  &__title {
    text-align: center;
    color: $textColor;
    padding: 2rem;
    font-size: 2.3rem;
  }

  &__grid {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;

    .project {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.3rem;
      background-color: $textColor;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 5px 5px 5px black;

      @include mobileFirst(tablet) {
        max-width: 50%;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 1rem;

        div {
          width: 50px;
        }
      }
    }
  }
}
