<section class="projects container">
  <h1 class="projects__title">Proyectos</h1>

  <div class="projects__grid">
    <article class="project">
      <div class="image">
        <img src="../../../assets/images/five.png" alt="five guys" />
      </div>
      <h2>Copycat Home - Five Guys</h2>
      <h3>HTML | SCSS | JS</h3>
      <div class="buttons">
        <div class="git">
          <a
            href="https://github.com/Ivanhtz/Five-Guys-Copycat"
            target="_blank"
          >
            <img src="../../../assets/images/github.svg" alt="github" />
          </a>
        </div>
        <div class="web">
          <a
            href="https://ivanhtz.github.io/Five-Guys-Copycat/"
            target="_blank"
          >
            <img src="../../../assets/images/globo.svg" alt="web" />
          </a>
        </div>
      </div>
    </article>

    <article class="project">
      <div class="image">
        <img src="../../../assets/images/vending2.png" alt="App-vending" />
      </div>
      <h2>APP WEB - Gestión de Ventas</h2>
      <h3>Angular | NodeJS | MySQL</h3>
      <div class="buttons">
        <div class="git">
          <a href="https://github.com/Ivanhtz/gestion_frutas" target="_blank">
            <img src="../../../assets/images/github.svg" alt="github" />
          </a>
        </div>
        <div class="web">
          <a href="https://gestion-ofertas.netlify.app/login" target="_blank">
            <img src="../../../assets/images/globo.svg" alt="web" />
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
