<section class="projects container">
  <h1 class="projects__title">Proyectos</h1>

  <div class="projects__grid">
    <article class="project">
      <div class="image">
        <img src="../../../assets/images/five.png" alt="five guys" />
      </div>
      <h2>Copycat Home - Five Guys</h2>
      <h3>HTML | SCSS | JS</h3>
      <div class="buttons">
        <div class="git">
          <a
            href="https://github.com/Ivanhtz/Five-Guys-Copycat"
            target="_blank"
          >
            <img src="../../../assets/images/github.svg" alt="github" />
          </a>
        </div>
        <div class="web">
          <a
            href="https://ivanhtz.github.io/Five-Guys-Copycat/"
            target="_blank"
          >
            <img src="../../../assets/images/globo.svg" alt="web" />
          </a>
        </div>
      </div>
    </article>

    <article class="project">
      <div class="image">
        <img src="../../../assets/images/fruits.png" alt="App-vending" />
      </div>
      <h2>APP WEB - Gestión de Ventas</h2>
      <h3>Angular | NodeJS | MySQL</h3>
      <div class="buttons">
        <div class="git">
          <a href="https://github.com/Ivanhtz/gestion_frutas" target="_blank">
            <img src="../../../assets/images/github.svg" alt="github" />
          </a>
        </div>
        <div class="web">
          <a href="https://gestion-ofertas.netlify.app/login" target="_blank">
            <img src="../../../assets/images/globo.svg" alt="web" />
          </a>
        </div>
      </div>
    </article>

    <article class="project">
      <div class="image">
        <img src="../../../assets/images/food.png" alt="App-food" />
      </div>
      <h2>WEB - Salud y alimentación</h2>
      <h3>Angular | SCSS | TS</h3>
      <div class="buttons">
        <div class="git">
          <a
            href="https://github.com/Ivanhtz/04-FitFoodFitness"
            target="_blank"
          >
            <img src="../../../assets/images/github.svg" alt="github" />
          </a>
        </div>
        <div class="web">
          <a href="https://fitfoodfitness.netlify.app/home" target="_blank">
            <img src="../../../assets/images/globo.svg" alt="web" />
          </a>
        </div>
      </div>
    </article>

    <article class="project">
      <div class="image">
        <img src="../../../assets/images/portfolio.png" alt="Portfolio" />
      </div>
      <h2>WEB - Portfolio personal</h2>
      <h3>Angular | SCSS | TS</h3>
      <div class="buttons">
        <div class="git">
          <a href="https://github.com/Ivanhtz/PortfolioAngular" target="_blank">
            <img src="../../../assets/images/github.svg" alt="github" />
          </a>
        </div>
        <div class="web">
          <a href="https://www.ivanpizarroso.com/" target="_blank">
            <img src="../../../assets/images/globo.svg" alt="web" />
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
